/* Grid Layout 1 */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 60vw;
    margin: 20px auto;
    background-color: blueviolet;
    column-gap: 1rem;
    row-gap: 1rem;
    text-align: center;
    padding: 20px;
}

.item1 {
    grid-column: span 2;
    background-color: #00ffff;
}

.item2 {
    grid-row: span 2;
    background-color: #a52a2a;
}

.item3 {
    grid-row: span 3;
    background-color: #2a3da5;
}

.item4 {
    grid-row: span 3;
    background-color: #34a52a;
}

.item5 {
    background-color: #a52a8a;
}

.item6 {
    grid-column: span 2;
    background-color: #a5512a;
}

/* Grid layout 2 */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    width: 60vw;
    margin: 20px auto;
    background-color: blueviolet;
    text-align: center;
    grid-template-areas: "nav header header header"
        "nav main main main"
        "nav footer footer footer";
}

.item1b {
    grid-area: nav;
    background-color: #a52a2a;
}

.item2b {
    grid-area: header;
    background-color: #a52a8a;
}

.item3b {
    grid-area: main;
    background-color: #00ffff;
}

.item4b {
    grid-area: footer;
    background-color: #34a52a;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    width: 80vw;
    background-color: aqua;
    margin: 20px auto;
    column-gap: .2rem;
    row-gap: .2rem;
    padding: 5px;
    color: white;
    text-align: center;

}

.img1 {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #2a3da5;
}

.img2 {
    grid-row: span 2;
    background-color: #8c2aa5;
}

.img3 {
    background-color: #2a3da5;
}

.img4 {
    grid-column: span 2;
    background-color: #a52a2a;
}

.img5 {
    grid-row: span 2;
    background-color: #9c814d;
}

.img6 {
    background-color: #2aa56c;
}

.img7 {
    background-color: #1e223a;
}

.img8 {
    grid-column: span 2;
    background-color: black;
}

.img9 {
    grid-row: span 2;
    background-color: cadetblue;
}

.img10 {
    grid-row: span 2;
    grid-column: span 2;
    background-color: deeppink;
}

.img11 {
    background-color: dimgrey;
}

.img12 {
    background-color: darksalmon;
}

.img13 {
    background-color: #2a3da5;
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    column-gap: 5px;
    row-gap: 5px;
    grid-auto-flow: dense;
    margin: 20px auto;
}

.container img {
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
